.board-list {
  // display: grid;
  padding: 0;
  list-style: none;
  // grid-template-columns: repeat(auto-fill, minmax(140px, 190px));
  // grid-auto-rows: 90px;
  // gap: 10px;
  // grid-auto-flow: dense;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 16px;
  row-gap: 32px;

  & li {
    cursor: pointer;
    background-size: cover;
    color: #fff;
    font-weight: 700;
    border-radius: 3px;
    position: relative;
    padding: 10px;
    padding: 0;
    transform: translate(0);
    width: 190px;
    height: 90px
  }
  & .star {
    font-size: 12px;
    color: yellow;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}
